.back-ground {
    text-align: center;
    background-color: royalblue;
    background-image: linear-gradient(rgb(27,38,59,0.6)), url('../images/img-6.jpg');
    background-size: cover;
    background-position: center;

    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 2%;
}
.back-ground-s {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

